// Font Family
$baseFont: "Helvetica", Helvetica, Arial, sans-serif;

// Colors
$firstColor: #ffffff;
$secondColor: rgb(17, 14, 31);
$thirdColor:#7B7B7B;
//Purple Light
$fourthColor:#5c6ac4;
// Purple Dark
$fifthColor:#000639;
// Red
$sixthColor: #C23628;
// Green
$seventhColor: #7AB55C;


// Font Sizes
$biggestSize: 40px;
$bigSize: 30px;
// Title Font Size
$regularSize: 24px;
// Field Font Size
$smallSize: 16px;
$tinySize: 14px;

@import "components/setup";
@import "components/header";
@import "components/main";
@import "components/footer";
@import "components/mediaquery";

html{
  font-size: 62.5%;
  font-family: Helvetica;
}

.wrapper{
  width: 50%;
  margin: 0 auto;
}

body{
  background:#000639;
  width: 100%;
}

h1{
  font-size: 24px;
  color: #ffffff;
}

.line{
  width: 3%;
  height: 2px;
  background-color: #7AB55C;
}

h3{
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}

.inputBox{
  display: flex;
}

input[type="text"]{
  color: #7B7B7B;
  width: 60%;
  height: 52px;
  margin-right: 10px;
  border-radius: 6px;
  font-size: 16px;
  padding-left: 18px;
}

select{
  color: #7B7B7B;
  width: 40%;
  height: 58px;
  margin-left: 10px;
  border-radius: 6px;
  font-size: 16px;
}

input[type="submit"]{
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  background: #5c6ac4;
  border: none;
  color: #ffffff;
  height: 52px;
  width: 100%;
  border-radius: 6px;
  margin-top: 45px;
}

.confirmMessage{
  display: none;
  h2{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }
  p{
    font-size: 16px;
    color: #ffffff;
  }
}

.errorMessage{
  color: #C23628;
  font-size: 14px;
}

