html {
  font-size: 62.5%;
  font-family: Helvetica; }

.wrapper {
  width: 50%;
  margin: 0 auto; }

body {
  background: #000639;
  width: 100%; }

h1 {
  font-size: 24px;
  color: #ffffff;
  padding-right: 30%;
  margin-top: 10%; }

.line {
  width: 3%;
  height: 2px;
  background-color: #7AB55C; }

h3 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  padding-top: 5%; }

.inputBox {
  display: flex;
  margin-top: 4%; }

input[type="text"] {
  color: #7B7B7B;
  width: 60%;
  height: 52px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 18px;
  border: transparent; }

select {
  color: #7B7B7B;
  width: 40%;
  height: 54px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 16px;
  border: transparent; }

input[type="submit"] {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  background: #5c6ac4;
  border: none;
  color: #ffffff;
  height: 52px;
  width: 100%;
  border-radius: 5px;
  margin-top: 2%;
  border: transparent; }

input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #33396e;
  cursor: pointer; }

.confirmMessage {
  display: none; }
  .confirmMessage h2 {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff; }
  .confirmMessage p {
    font-size: 16px;
    color: #ffffff; }

.errorMessage {
  color: #C23628;
  font-size: 14px; }

@media (max-width: 1050px) {
  h1 {
    padding-right: 15%; }
  .inputBox {
    flex-wrap: wrap;
    width: 100%; }
  input[type="text"] {
    width: 100%;
    margin: 0px;
    margin-bottom: 10px; }
  select {
    width: 100%;
    margin: 0px; } }

@media (max-width: 700px) {
  h1 {
    padding-right: 10%; }
  .wrapper {
    width: 85%; } }

@media (max-width: 700px) {
  h1 {
    padding-right: 10%; }
  .wrapper {
    width: 90%; } }
