header{
    background: $firstColor;
    width: 100%;
    h2{
        font-family: $secondFont;
        font-size: $bigSize;
        font-weight: 400;
        color: $secondColor;
        text-align: center;
        margin: 0;
    }
}